.gimage{
    height: 116px;
    width: 132px;   
    border-radius: 30px;
}
.mid{
  
    padding-top: 0px;
    padding-bottom: 0px;
}
.c_user{
   text-align: center;
    padding-bottom: 50%;  
    padding-top: 50%
}
.allUI{
    height: 40px;
    width: 50px;
    border-radius: 68px;
}
.on{
    color:green;
}
 .off{
    color:gray;
}
.away{
    color:yellow;
}
th, td {
    padding: 7px;
}
.sample{
    border: 1px solid rgb(235, 228, 228);
    /* box-shadow:15px 15px 30px grey; */
}
.c_user1{
    cursor: pointer;
    
} 
input[type="text"], [type="email"]{
    border:none;
  
    /* size: 30%; */
    /* max-width: 100%; */
    /* size: 50px; */
}

  .container1 {
    position: relative;
    width: 133px;
    height: 133px;
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left: 40px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container1:hover .image {
    opacity: 0.3;
  }
  
  .container1:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: rgb(139, 146, 139);
    color: white;
    font-size: 16px;
    padding: 2px 6px;
  }